#submission{
    float: left;
    overflow: hidden;
    width: 55%;
}

#marking {
    width: 45%;
    float:right;
    right: 0;
}

.question-tabs {
    max-width: 55% !important;
    overflow-x: scroll;
    overflow-y: visible;
}