<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        {{ css }}
    </style>
</head>
<body>
<h1 style="text-align: center">{{ name }}</h1>
<hr/>
<div style="float:left; width:55%; overflow:hidden; border-right: 1px solid black; margin-left: 1%; margin-right: 2.5%;">
    <h2>Submission</h2>
    <hr/>
    {% for (file, code, output) in files %}
        <h3>{{ file }}</h3>
        <h4>Code</h4>
        {{ code }}
        <h4>Output</h4>
        {% for o in output %}
            {{ o }}
        {% endfor %}
        <hr/>
    {% endfor %}
</div>
<form action={{ url_for("show_feedback", name=name) }} method=POST style="overflow:hidden;">
    <h2>Marking</h2>
    <hr/>
    {% for label, q in  assignment.questions.items() %}
        <h4>{{ label }}</h4>
        {% for part in q.contents %}
            <p>
                <label>{{ part }}</label><br/>
                <input name={{ "{}-{}".format(label, loop.index0) }} placeholder="Mark..."/>
            </p>
        {% endfor %}
        <hr/>
    {% endfor %}
    <br/> <br/>
    <input type="submit" name="submit" value="Create Feedback"/>
</form>
</body>
</html>